.profile__edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  padding: 6px;
  background-color: #000000;
  margin: 0 0 0 18px;
  align-self: center;
  transition: opacity 0.3s;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    padding: 4.25px;
    margin: 0 0 0 10px;
  }
}