.element {
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 765px) {
  .element {
    justify-self: center;
  }
}