.element__icon {
  /*margin: 0 5px 0 15px;*/
  transition: opacity 0.3s;
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url('../../../images/heart_white.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 22px;
  height: 19px;
  margin: 0 0 3px 0;
}


.element__icon:hover {
  cursor: pointer;
  opacity: 0.5;
}